@charset "UTF-8";
button {
  color: #fff;
  background: black;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

button:disabled {
  background: gray;
}

.c-card {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  border-radius: 6px;
}

.c-card.medium {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form .form-input {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
}

.form .form-input label {
  margin-bottom: 5px;
}

.form .form-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

input {
  height: 50px;
  border-radius: 6px;
  border: 1px solid #000;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 2px solid #000;
}

.nav-menu {
  -webkit-box-shadow: 0px 1px 4px #e6e9ec;
          box-shadow: 0px 1px 4px #e6e9ec;
}

.nav-menu h4 {
  cursor: pointer;
}

.nav-menu-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 15px;
}

.nav-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
}

.nav-menu-item {
  padding: 10px;
}

.jumbotron h6 {
  margin-bottom: 20px;
}

.campground-card {
  display: -ms-grid;
  display: grid;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.campground-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.campground-card .c-card {
  display: -ms-grid;
  display: grid;
  text-align: left;
  padding: 0;
}

.campground-card label {
  font-weight: 500;
}

.campground-card .campground-card-content {
  padding: 15px;
}

.campground-card .campground-card-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.campground-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  margin: 0 auto;
}

footer {
  padding: 50px 0;
  margin-top: 60px;
  text-align: center;
  background: #000;
  color: white;
  position: -webkit-sticky;
  position: sticky;
}

.comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
      grid-template-areas: "Initials Body" "Initials Body";
}

.comment .comment-initials {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Initials;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.comment .comment-initials .comment-initial {
  display: -ms-grid;
  display: grid;
  height: 60px;
  width: 60px;
  background: #f5f5;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.comment .comment-initials img {
  width: 100%;
}

.comment .comment-body {
  padding-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "Username Date" "Message Message";
}

.comment .comment-user {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Username;
}

.comment .comment-message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Message;
}

.comment .comment-date {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Date;
  text-align: end;
}

.comment .comment-action {
  -ms-grid-column-align: end;
      justify-self: end;
}

.create-comment {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  margin-top: 20px;
}

.create-comment .create-comment-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbcbcb;
}

.create-comment .create-comment-cta {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.pager {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 1em;
}

.pager-pages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  max-width: 300px;
  margin: 0 auto;
}

.pager-page {
  text-align: center;
  border: 1px solid #e5e5e5;
  padding: 0.5em 1em;
  cursor: pointer;
}

.pager-page.active {
  color: #fff;
  border: none;
  background: black;
}

.campground-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "Back" "Info" "Comments";
}

@media screen and (min-width: 500px) {
  .campground-page {
    -ms-grid-columns: 150px 1fr;
        grid-template-columns: 150px 1fr;
        grid-template-areas: "Back Info" "Back Comments";
  }
}

.campground-page-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Info;
  margin-bottom: 30px;
}

.campground-page-info .c-card {
  padding: 0;
}

.campground-page-info p {
  margin-bottom: 0;
}

@media screen and (min-width: 500px) {
  .campground-page-info p {
    margin-bottom: 10px;
  }
}

.campground-page-info img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.campground-page-info .campground-page-info-description {
  margin-top: 10px;
  padding: 10px;
}

.campground-page-info img {
  width: 100%;
}

.campground-page-image {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.campground-page-back {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Back;
  margin-bottom: 20px;
}

.campground-page-comments {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Comments;
}

.campground-page-comments .comments {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1em;
  padding-top: 2em;
}

.campground-page-comments .comment {
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 0;
}

.campground-page-comments .comment:last-of-type {
  border-bottom: 1px solid transparent;
}

.create-campground-page {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (min-width: 769px) {
  .create-campground-page {
    margin-top: 80px;
  }
}

.create-campground-page h3 {
  margin-bottom: 1em;
}

.create-campground-page button {
  width: 100%;
  margin-top: 1em;
}

.create-campground-page .create-campground-image-input {
  display: -ms-grid;
  display: grid;
}

.create-campground-page .campground-image {
  width: 100%;
}

.login-form {
  display: -ms-grid;
  display: grid;
  max-width: 350px;
  margin: 100px auto;
  margin-bottom: 10em;
}

.login-form h3 {
  margin-bottom: 1em;
}

.login-form .form-input {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
}

.login-form .form-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.signup-form {
  display: -ms-grid;
  display: grid;
  max-width: 350px;
  margin: 100px auto;
  margin-bottom: 10em;
}

.signup-form h3 {
  margin-bottom: 1em;
}

.signup-form .form-input {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1em;
}

.signup-form .form-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.croppie-container {
  width: 100%;
  height: 100%;
}

.croppie-container .cr-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  max-height: none;
  max-width: none;
}

.croppie-container .cr-boundary {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.croppie-container .cr-viewport,
.croppie-container .cr-resizer {
  position: absolute;
  border: 2px solid #fff;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.croppie-container .cr-resizer {
  z-index: 2;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.croppie-container .cr-resizer-vertical,
.croppie-container .cr-resizer-horisontal {
  position: absolute;
  pointer-events: all;
}

.croppie-container .cr-resizer-vertical::after,
.croppie-container .cr-resizer-horisontal::after {
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  background: #fff;
  width: 10px;
  height: 10px;
  content: '';
}

.croppie-container .cr-resizer-vertical {
  bottom: -5px;
  cursor: row-resize;
  width: 100%;
  height: 10px;
}

.croppie-container .cr-resizer-vertical::after {
  left: 50%;
  margin-left: -5px;
}

.croppie-container .cr-resizer-horisontal {
  right: -5px;
  cursor: col-resize;
  width: 10px;
  height: 100%;
}

.croppie-container .cr-resizer-horisontal::after {
  top: 50%;
  margin-top: -5px;
}

.croppie-container .cr-original-image {
  display: none;
}

.croppie-container .cr-vp-circle {
  border-radius: 50%;
}

.croppie-container .cr-overlay {
  z-index: 1;
  position: absolute;
  cursor: move;
  -ms-touch-action: none;
      touch-action: none;
}

.croppie-container .cr-slider-wrap {
  width: 75%;
  margin: 15px auto;
  text-align: center;
}

.croppie-result {
  position: relative;
  overflow: hidden;
}

.croppie-result img {
  position: absolute;
}

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/
.cr-slider {
  -webkit-appearance: none;
  /*removes default webkit styles*/
  /*border: 1px solid white; */
  /*fix for FF unable to apply focus style bug */
  width: 300px;
  /*required for proper track sizing in FF*/
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}

.cr-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

.cr-slider:focus {
  outline: none;
}

/*
.cr-slider:focus::-webkit-slider-runnable-track {
background: #ccc;
}
*/
.cr-slider::-moz-range-track {
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 3px;
}

.cr-slider::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

.cr-slider::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  border-color: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-width: 6px 0;
  color: transparent;
  /*remove default tick marks*/
}

.cr-slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cr-slider::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ddd;
  margin-top: 1px;
}

.cr-slider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}

.cr-slider:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
}

/*******************************************/
/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.cr-rotate-controls button {
  border: 0;
  background: none;
}

.cr-rotate-controls i:before {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
}

.cr-rotate-l i:before {
  content: '↺';
}

.cr-rotate-r i:before {
  content: '↻';
}

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: calc(100vh - 90px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.content {
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */