.campground-card {
    display: grid;
    width: 100%;

    .c-card {
        display: grid;
        grid-row-gap: 10px;
        text-align: center;
    }
}

.campground-card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
