/* Elements */
button {
    color: #fff;
    background: black;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
}

/* Components */
.content {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu {
    box-shadow: 0px 1px 4px #e6e9ec;
}

.nav-menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 15px;
}

.nav-menu-items {
    justify-self: end;
}

.jumbotron h6 {
    margin-bottom: 20px;
}

.c-card {
    box-shadow: 0px 1px 4px 2px #ededed;
    padding: 10px;
    border-radius: 6px;
}

.campground-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 2em;
    grid-column-gap: 1em;;
}

.campground-card {
    display: grid;
    width: 100%;
    max-width: 320px;
}

.campground-card .c-card {
    display: grid;
    text-align: center;
}

.campground-card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.campground-page-info {
    margin-bottom: 30px;
}

.campground-page-info img {
    width: 100%;
}