@page "/campground/{Id}"

<div class="campground-page">
    <div class="campground-page-info">
        <Card>
            <img src="https://assets-us-01.kc-usercontent.com/04049059-9f97-00fa-b634-0afc144f58a8/c5705abb-71a0-4988-9640-465d28e68cd6/46505-product-image-1.jpg" alt="">
            <h5>Devils Canyon</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque aperiam quis voluptate quo vel, autem omnis dolorem ipsum tempore nesciunt veritatis libero sint. Natus quasi expedita ex architecto exercitationem quas?</p>
        </Card> 
    </div>

    <div class="">
        <Card>
            <h4>Comments</h4>
            <CommentList />    
        </Card>
    </div>
</div>

@code 
{
    [Parameter]
    public string Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine(Id);
    }
}