
@if (HasLink) 
{
    <a class="link" href="@LinkUrl">
        @ChildContent
    </a>
}
else {
    <a @onclick="OnElementClick" class="link" href="javascript:void(0)">
        @ChildContent
    </a>
}

@code 
{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string LinkUrl { get; set; } = "";

    [Parameter]
    public bool HasLink { get; set; } = true;

    [Parameter]
    public EventCallback<dynamic> OnClick { get; set; }

    public void OnElementClick()
    {
        OnClick.InvokeAsync();
    }
}