
@using Campers.Models
@inject NavigationManager NavigationManager

<div class="campground-card">
    <Card>
        <div 
            class="campground-card-image" 
            style="background-image:url(@Item.Image)">
        </div>
        
        <label>@Item.Title</label>
        <button @onclick="@MoreInfo">More Info</button>
    </Card>
</div>

@code 
{
    [Parameter]
    public Campground Item { get; set; }


    public void MoreInfo()
    {
        NavigationManager.NavigateTo($"/campground/{Item.Id}");
    }
}