
@using Campers.Models
@inject NavigationManager NavigationManager;

<div class="campground-card">
    <Card>
        <div 
            class="campground-card-image" 
            style="background-image:url('https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80')">
        </div>
        
        <label>@Item.Title</label>
        <button @onclick="@MoreInfo">More Info</button>
    </Card>
</div>

@code 
{
    [Parameter]
    public Campground Item { get; set; }


    public void MoreInfo()
    {
        NavigationManager.NavigateTo($"/campground/{Item.Id}");
    }
}