
@using Campers.Models
@inject NavigationManager NavigationManager

<div class="campground-card" @onclick="@MoreInfo">
    <Card>
        <div
            class="campground-card-image"
            style="background-image:url(@Item.Image)">
        </div>

        <div class="campground-card-content">
            <label>@Item.Title</label>
        </div>
    </Card>
</div>

@code
{
    [Parameter]
    public Campground Item { get; set; }


    public void MoreInfo()
    {
        NavigationManager.NavigateTo($"campground/{Item.Id}");
    }
}
