
@using Campers.Models

<div class="campground-list">
    @foreach (var item in Campgrounds)
    {
        <CampgroundCard Item="@item" />
    }
</div>

@code 
{
    [Parameter]
    public List<Campground> Campgrounds { get; set; } = new List<Campground>();
}