<div class="comment">
    <div class="comment-photo">
        <img src="" alt="">
    </div>
    <div class="comment-body">
        <h6>@Value.Username</h6>
        <p>@Value.Message </p>
    </div>
    <div class="comment-action">
        <div>@Value.DateCreated </div>
    </div>
</div>

@code
{
    [Parameter]
    public Campers.Models.Comment Value { get; set; } = new Campers.Models.Comment();
}