<div class="comment">
    <div class="comment-photo">
        <img src="" alt="">
    </div>
    <div class="comment-body">
        <h6>James</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sit obcaecati. Ipsum natus totam tenetur, mollitia eius dolores fuga illo, vero facilis voluptates minima placeat repellat, eveniet hic commodi iusto.</p>
    </div>
    <div class="comment-action">
        <div>Feb 6</div>
    </div>
</div>