<div class="comment">
    <div class="comment-initials">
        <div class="comment-initial" style="background: @initialBackgroundColor;">
            <span>
                @initials
            </span>
        </div>
    </div>

    <div class="comment-body">
        <h6 class="comment-user">@Value.Username</h6>
        <div class="comment-date">@formattedDate </div>
        <p class="comment-message">@Value.Message </p>
    </div>

    @if (isAuthorized)
    {
      <div class="comment-action">
        <a href="javascript:void()">Edit</a>
      </div>
    }
</div>

@code
{
    [Parameter]
    public Campers.Models.Comment Value { get; set; } = new Campers.Models.Comment();

    public bool isAuthorized { get; set; } = false;

    public string initials => !String.IsNullOrWhiteSpace(Value.Username) ? Value.Username.Substring(0, 1) : "N/A";

    public string initialBackgroundColor => Value.ProfileBackgroundColor;

    public string formattedDate
    {
        get
        {
            var date = Value.DateCreated;
            var day = date.Day;
            var year = date.Year;
            var month = date.Month;

            return $"{month}/{day}/{year}";
        }
    }
}
