<div class="comments">
    @foreach (var comment in Comments)
    {
        <Comment Value="@comment" />
    }
</div>

@code
{
    [Parameter]
    public List<Campers.Models.Comment> Comments { get; set; } = new List<Campers.Models.Comment>();
}