@import './vars/_vars.scss';
@import './atoms/_atoms.scss';
@import './molecules/_molecules.scss';
@import './pages/_pages.scss';

.content {
    max-width: 1200px;
    padding-top: 20px;
    margin: 0 auto;
}